* {
  box-sizing: border-box;
}

body {
  margin: 0;
 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: #D3D3D3 ;
  
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* Changing specific color of a word */
/* Changing specific color of a word */
/* Changing specific color of a word */


.name{
  background-color: #ADD8E6 ;
  margin-left: 10px;
  text-align: center;
  
  
}

.top-section{
  background-color: whitesmoke;
  padding: 20px;
  margin-top: -68px;
  
}

.design{
  background-color: #ADD8E6;
  margin-bottom: 15px;
  color: #000;
}

/* justifying nav bar  */
/* justifying nav bar  */
/* justifying nav bar  */


 nav{
  text-align: center;
  
  
}

/* aligning nav bar
aligning nav bar  */
nav li {
  font-size: 20px;
  padding: 20px;
  display: inline;
  list-style-type: none;
  margin-left: 355px; 
  font-weight: bold;
  font-size: large;
 
} 
.change{
  color: black;
}

header{
  padding-top: 1%;
  background-image: url("/starter/images/02-hero-bg.jpg");
  height: 400px; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.side{
  padding: 15px 15px;
  font-size: 18px;
}


.hero-banner div{
  margin-left: 77%;
  margin-top: -25px;
  transform: translate(-50%, -50%);
  color: white ;
  
}
/* applied grid system to parent container */
/* applied grid system to parent container */
/* applied grid system to parent container */
 .page-section-grid{
  display: grid;
  grid-template-columns: 20% 80%;
  padding: 10px;
}

.page-section-grid h2{
  border-right: 5px solid #000;
  font-size: 40px;
  padding: 40px 40px;
  
}

.image-container {
  display: grid;
  height: 700px;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
  "grid-item1  grid-item1"
  "grid-item2   grid-item3"
  "grid-item4   grid-item5";
  padding: 30px 30px;
}


 .grid-item1 {
  
  grid-area: grid-item1 ;
  background-image: url(/starter/images/02-portfolio-1.jpg);
  background-size: cover;
  background-position: center;
  border: 8px solid black;
  cursor: pointer;
  

} 

 .grid-item2{
  grid-area: grid-item2;
   background-image: url("/starter/images/02-portfolio-2.jpg") ; 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 8px solid black;
  cursor: pointer;
  
} 

 .grid-item3{ 
  
  grid-area: grid-item3;
  background-image: url("/starter/images/02-portfolio-3.jpg"); 
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  border: 8px solid black;
  background-size: cover;
  cursor: pointer;
  
  
}  

.grid-item4{
  
  grid-area: grid-item4;
   background-image: url("/starter/images/02-portfolio-4.jpg"); 
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  border: 8px solid black;
  background-size: cover;
  cursor: pointer;
  
}
.grid-item5{
  
  grid-area: grid-item5;
   background-image: url(/starter/images/02-run-buddy.jpg); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 8px solid black;
  cursor: pointer;
 
}

.page-section-contact{
  display: grid;
  grid-template-columns: 20% 80%;
  padding: 10px;
}

.page-section-contact h2 {

border-right: 5px solid black;
height: 50%;
font-size: 40px;
padding: 20px 20px;
}

.bottom{
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  font-size: 20px;
  
}

.footer{
  color: black;
  font-weight: bold;
}

.image-container span{
  color: #000;
  margin-top: 130px;
  font-size:2vw;
  background-color: white;

}

.image-container div :hover {
  background-color: lightgrey;
  color: black;

}

@media screen and (min-width: 780px) and (max-width:1200px){
 /* .bg-background{
  
 } */
 .top-section{
  width: auto;
 
  
 }
 .design{
margin-top: -50px;
padding: 5px;
 }
}
  



p {
  margin: 0;
  justify-content: center;
}




